<h1 mat-dialog-title>PASO DE PRODUCTOS DE BODEGA A SUCURSAL</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline" *ngFor="let sucursal of sucurdales; let i = index">
        <mat-label>{{ sucursal.nombre }}</mat-label>
        <input matInput [(ngModel)]="data.cantidad[i]" type="number" [value]="0" />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data">Cancelar</button>
    <button
        *ngIf="data.status == 0"
        mat-button
        color="primary"
        (click)="onClick(data)"
        cdkFocusInitial
    >
        Ok
    </button>
    <button
        *ngIf="data.status == 1"
        mat-button
        color="primary"
        (click)="onClickEditar(data)"
        cdkFocusInitial
    >
        Editat
    </button>
</div>
